body{
    margin:0;
    background-color: #333;

}

article{
    height: 220px;
}
.header {
    color: #fff;
    padding: 20px;
    align-items: center;
    height: auto;
    display: flex;
    text-align: left;

}

.logo {
    cursor: pointer;
    width: 40px;
    height: auto;
    margin: 10px;
    margin-right: 20px;
}


.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-menu a{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 30px;
}




.first-line{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;


}
.second-line{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;

}


.third-line{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}
.blockAliquam{
    width: 40%;
    background-color: #5aa8a1;
}

.blockMagna{
    width: 60%;
    background-color: #deac5f;
}

.blockConsequat{
    width: 40%;
    background-color: #af5154;
}

.blockTempus {
    width: 60%;
    background-color: #8f71b3;
}

.blockEtiam{
    width: 60%;
    background-color: #556f59;
}

.blockConsequat{
    width: 40%;
    background-color: #4a4ca7;
}
.blockIpsum{
    width: 40%;
    background-color: #71442f;
}
.major a,p{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 20px;
}


form{
    display: inline;
}

form div{
    margin-top: 10px;
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    lex-wrap: wrap;
    text-align: center;
}
div input{
    width: 200px;
}

div textarea{
    width: 200px;
}

form div label{
    color: whitesmoke;

}
form h1{
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
}

form button {
    display: inline-block;
    height: 50px;
    margin-left: 50%;
}
